.TodoList{

    //할일 데이터가 1개도 없더라도 뭔가 영역이 있어야 사용자가 웹앱의 UI를 인지할 수 있을 듯 하여 최소 높이 지정
    min-height: 300px;
    //할일 데이터가 너무 많아지면 계속 리스트영역이 커짐..그럼 보기 불편하니.최대 높이 지정.
    max-height: 500px;

    //만약 자식요소가 많아져서 최대 높이 600px보다 커지면 흘러넘쳐버림..(overflow)..이때 스크롤이 자동 적용되도록..
    overflow-y: auto;
    //--------------

    // 배경색
    background-color: antiquewhite;

}